@import url("../styles/common.css");

.main_body {
  display: flex;
}

footer {
  margin-top: 50px;
  margin-left: 200px;
}

#login_details,
#login_footer {
  flex: 1;
  float: left;
  margin-top: 70px;
}

#login_details {
  flex: 2;
  border-right: 2px solid black;
}

.email,
.password {
  width: 80%;
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.email:focus,
.password:focus {
  border-color: #80cbc4;
}

#login_button,
#sign_up {
  background-color: #424242;
  color: white;
  padding: 10px 15px;
  margin: 45px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  font-size: 20px;
  transition: color background-color 0.3s;
}

#login_button:hover {
  opacity: 0.9;
}

#login_button:active {
  transform: translateY(3px);
}

#sign_up {
  width: auto;
  padding: 10px 18px;
  background-color: #80cbc4;
  color: black;
}

/* #forgot { */
/* margin-left: 275px; */
/* } */

/* #login_footer { */
/* margin-top: 20px; */
/* } */
