@import url("../styles/common.css");

#input_area {
  display: flex;
  align-items: stretch;
  min-height: 70vh;
}

#add .add a {
  color: #80cbc4;
  font-size: 24px;
  pointer-events: none;
  cursor: default;
}

textarea#input {
  resize: none;
  margin: 5px;
  padding: 10px;
  flex: 1;
  float: left;
}

div#view {
  margin: 5px;
  padding: 10px;
  flex: 1;
  background-color: #aaaaaa;
  word-wrap: break-word;
  word-break: break-all;
  float: left;
}

#submit_button {
  display: flex;
  justify-content: center;
}

/* #add_idea_button { */
  /* margin: 40px 0px; */
  /* padding: 20px 60px; */
  /* border: none; */
  /* text-align: center; */
  /* font-size: 30px; */
  /* background-color: #424242; */
  /* transition: all 0.3s; */
  /* color: #80cbc4; */
/* } */

#utility {
  display: flex;
  justify-content: space-evenly;
}

#utility_bar {
  box-sizing: border-box;
  height: 30px;
  flex: 1;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  margin: 30px 5px -5px 5px;
  padding: 0px 11px;
  text-align: center;
  background-color: #009688;
  color: white;
}

#utility_bar p {
  flex: 1;
  cursor: pointer;
}

#spacer {
  box-sizing: border-box;
  flex: 1;
  margin: 30px 5px -5px 5px;
  padding: 0px 10px;
}

.btn-block {
  background-color: #424242;
  width: 75%;
  margin: 30px auto 60px auto;
}
