@import url("common.css");

div#main_body {
    display: flex;
    align-items: stretch;
}

#add .add a {
    color: #80CBC4;
    font-size: 24px;
    pointer-events: none;
    cursor: default;
}

textarea#input {
    resize: none;
    margin: 5px;
    padding: 0;
    flex: 1;
    float: left;
}

div#view {
    margin: 5px;
    flex: 1;
    background-color: #aaaaaa;
    float: left;
}

footer {
    margin-top: 50px;
    margin-left: 200px;
}
