@import url('common.css');

html {
    font-family: "Source Sans Pro", sans-serif;
}

header {
    font-family: "Nunito", sans-serif;
}

#browse .browse a {
    color: #80CBC4;
    font-size: 24px;
    pointer-events: none;
    cursor: default;
}

footer {
    margin-top: 50px;
    margin-left: 200px;
}
