@import url("normalize.css");

html {
  /* height: 100vh; */
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  /* height: inherit; */
  min-height: inherit;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  margin-top: 20px;
  height: 100px;
  background: #424242;
  /* padding-left: 45%; */
  line-height: 100px;
  font-family: "Nunito", sans-serif;
  font-size: 60px;
}

div#corner {
  position: absolute;
  height: 235px;
  width: 480px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #212121;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

div#corner > img,
#corner > a > img {
  position: relative;
  top: calc(0.33 * 100%);
  left: calc(0.22 * 100%);
  transform: translate(-50%, -50%);
}

div#corner-border {
  position: absolute;
  height: 240px;
  width: 485px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #80cbc4;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

footer {
  clear: both;
  /* margin-top: 50px; */
  padding: 30px;
  text-align: center;
  background-color: #212121;
  color: #eeeeee;
}

.footer-container,
.nav-container {
  padding: 0;
}

.main_body {
  margin-left: 275px;
  margin-right: 25px;
  min-height: 60vh;
  /* margin-top: 30px; */
}

nav {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  box-sizing: border-box;
  height: 100%;
  /* width: 200px; */
  padding-top: 120px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  padding-right: 20px;
  text-align: right;
  background-color: #424242;
  color: white;
  font-size: 28px;
}

nav #nav-contents {
  position: sticky;
  top: 100px;
}

nav ul {
  /* position: sticky; */
  /* top: 60px; */
  list-style: none;
}

nav ul li {
  margin: 30px 0 30px -30px;
}

nav #nav-contents a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.login-button-header {
  color: #80cbc4;
  border-color: #80cbc4;
}

.login-button-header:hover {
  color: #424242;
  background-color: #80cbc4;
}

.logout-button-header {
  color: #80cbc4;
  border-color: #80cbc4;
}

.logout-button-header:hover {
  color: #424242;
  background-color: #80cbc4;
}

.alert-custom {
  text-align: center;
  color: #009688;
  background-color: #cdf9f5;
  border-color: #009688;
  width: 50%;
  margin: 100px auto 250px auto;
}

.btn-login {
  color: #fff;
  background-color: #009688;
}

.btn-login:hover {
  color: #fff;
  background-color: #008074;
}

