@import url('common.css');

html {
    font-family: "Source Sans Pro", sans-serif;
}

header {
    font-family: "Nunito", sans-serif;
}

body > p {
    margin: 70px 100px 50px 250px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
}

div.button {
    box-sizing: border-box;
    width: calc(33.33% - 24px);
    float: left;
    text-align: center;
    padding: 10px;
}

div.button:hover {
    /* background-color: gray; */
    border: 3px solid #009688;
}

div.button > p {
    text-align: center;
}

div#wrapper {
    margin-left: 250px;
    margin-right: 100px;
}
