@import url('common.css');

.main_body > p {
    margin: 50px 15px;
    font-size: 18px;
    line-height: 200%;
}

div#wrapper {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.card {
  background-color: #e5e5e5;
  transition: background 0.3s;
}

.card:hover {
  background-color: #ffffff;
}

button {
  margin: auto;
}
