@import url('common.css');

html {
    font-family: "Source Sans Pro", sans-serif;
}

header {
    font-family: "Nunito", sans-serif;
}
footer {
    margin-top: 50px;
    margin-left: 200px;
}
#login_details,#login_footer{
    margin-top:70px;
    margin-left: 240px;
}
input[type=email], input[type=password] {
    width: 50%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #80CBC4;
    box-sizing: border-box;
  }
#email:focus,#password:focus{
    background-color: cadetblue;
}
  #login_button,#sign_up{
    background-color: #424242;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 20px;
  }

  #login_button:hover {
    opacity: 0.9;
  }

  #login_button:active{
  transform: translateY(3px);
  }

  #sign_up {
    width: auto;
    padding: 10px 18px;
    background-color:#5b826f;
    color: black;
  }

  #forgot{
      margin-left: 275px;
  }

  #login_footer{
      margin-top: 20px;
  }